.counter {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0vh 2vh 0vh 0vh;
}

.value {
    flex: 1;
    text-align: center;
    font-weight: 600;
    font-size: calc(14px + 0.3vh);
}

.buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.buttons > button{
    flex: 1;
    border-radius: 20%;
    font-size: calc(12px + 0.2vh);
    min-height: 2.5vh;
    max-width: 2.5vh;
    background-color: transparent;
    font-weight: 700;
    margin: 0.1vh 0vh;
}

.plus{
    border: 2px solid #61dafb;
    color: #61dafb;
    transform: rotate(90deg);
}

.plus:hover {
    background-color: #d6f4fc;
}

.plus:active {
    transform: scale(0.9) rotate(90deg);
}

.minus{
    border: 2px solid indianred;
    color: indianred;
    transform: rotate(270deg);
}

.minus:hover {
    background-color:rgb(252, 217, 217);
}

.minus:active {
    transform: scale(0.9) rotate(270deg);
}